<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>    <key>DefaultSetupFile</key>    <string>/Users/Username/Documents/TOA5_TGA200_Setup.txt</string>    <key>DefaultTankCalibrationFile</key>    <string>/Users/Username/Documents/TOA5_TGA200_Calibration_Gases.txt</string>    <key>DefaultBagSampleDirectory</key>    <string>/Users/Username/Documents/Bag-Samples/</string>    <key>DefaultLoggerDataDir</key>    <string>/Users/Username/Documents/TGA200LoggerData/</string></dict></plist>